<!--Профиль-->

<mat-card>
  <h1>Create an account</h1>
  <form class="example-form" [formGroup]="form">

    <!--Аккаунт-->

    <h2>Account</h2>

    <div formGroupName="account">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email"
               placeholder="Ex.pat@example.com">

        <mat-error *ngIf="form.get('account.email')?.hasError">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.get('account.email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error
          *ngIf="form.get('account.password')?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="form.get('account.password')?.touched && form.get('account.password')?.hasError('minlength')">
          Password must contain at least 6 characters
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Repeat password</mat-label>
        <input type="password" matInput formControlName="repeatPassword">
        <mat-error *ngIf="form.get('account.repeatPassword')?.hasError('required')">
          Repeating is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('account.repeatPassword')?.hasError('passwordNotEqual')">
          Password is not <strong>equal!</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <!--Профиль-->

    <h2>Profile</h2>

    <div formGroupName="profile">

      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name">
        <mat-error *ngIf="form.get('profile.name')?.hasError ('required')">
          Please enter a name
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Phone</mat-label>
        <input type="tel" matInput formControlName="phone">
        <mat-error *ngIf="form.get('profile.phone')?.hasError ('required')">
          Please enter a phone
        </mat-error>
        <!--        <mat-error *ngIf="form.get('profile.phone')?.hasError('pattern')">-->
        <!--          Enter a phone number x(xxx)xxxxxxx-->
        <!--        </mat-error>-->
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input type="text" matInput formControlName="city">
      </mat-form-field>
    </div>

    <!--Данные о компании-->

    <h2>Company</h2>
    <div formGroupName="company">

      <mat-form-field class="example-full-width">
        <mat-label>Name of company</mat-label>
        <input type="text" matInput formControlName="companyName">
        <mat-error *ngIf="form.get('company.companyName')?.hasError ('required')">
          Please enter a name
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Form Of Property</mat-label>
        <mat-select matInput formControlName="formOfProperty">
          <mat-option value="SP">Sole Proprietor</mat-option>
          <mat-option value="LE">Legal Entity</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>INN</mat-label>
        <input type="text" matInput formControlName="inn">
        <mat-error *ngIf="form.get('company.inn')?.hasError ('required')">
          Please enter a INN
        </mat-error>
        <mat-error
          *ngIf="form.get('company.inn')?.touched && form.get('company.inn')?.hasError('minLength')">
          INN must contain 9 characters
        </mat-error>
        <mat-error
          *ngIf="form.get('company.inn')?.touched && form.get('company.inn')?.hasError('maxLength')">
          INN must contain 9 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="form.get('company.formOfProperty')?.value !== 'SP'">
        <mat-label>KPP</mat-label>
        <input type="text" matInput formControlName="kpp">
        <mat-error *ngIf="form.get('company.kpp')?.hasError ('required')">
          Please enter a KPP
        </mat-error>
        <mat-error
          *ngIf="form.get('company.kpp')?.touched && form.get('company.kpp')?.hasError('minLength')">
          KPP must contain 9 characters
        </mat-error>
        <mat-error
          *ngIf="form.get('company.kpp')?.touched && form.get('company.kpp')?.hasError('maxLength')">
          KPP must contain 9 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>ОКРО</mat-label>
        <input type="text" matInput formControlName="okpo">
        <mat-error *ngIf="form.get('company.okpo')?.hasError ('required')">
          Please enter a OKPO
        </mat-error>
        <mat-error
          *ngIf="form.get('company.okpo')?.touched && form.get('company.okpo')?.hasError('minLength')">
          OKPO must contain 8 characters
        </mat-error>
        <mat-error
          *ngIf="form.get('company.okpo')?.touched && form.get('company.okpo')?.hasError('maxLength')">
          OKPO must contain 8 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Date Of Creation</mat-label>
        <input type="date" matInput formControlName="creationDate">
      </mat-form-field>

    </div>

    <!--    Контакты-->

    <div formArrayName="contacts">
      <h2>Contacts</h2>
      <button (click)="addContact()" mat-icon-button color="warn">
        <mat-icon>add</mat-icon>
      </button>

      <div *ngFor="let control of getContactsControl(); let i = index" [formGroupName]="i">
        <h3>Contact №{{ i + 1 }}</h3>

        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-error *ngIf="form.get('contacts.name')?.touched && form.get('contacts.name')?.hasError ('required')">
            Please enter a name
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Position</mat-label>
          <input type="text" matInput formControlName="position">
          <mat-error *ngIf="form.get('contacts.position')?.hasError ('required')">
            Please enter a position
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Phone</mat-label>
          <input type="tel" matInput formControlName="phone">
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>

  </form>
</mat-card>

<pre> {{ form.value | json}} </pre>

