button {
  height: 50px;
  display: block;
  position: relative;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

mat-card {
  width: 350px;
  margin: 10px auto;
}

.example-full-width {
  width: 100%;
}

