<form [formGroup]="form" (ngSubmit)="submit()">
  <input type="text" formControlName="login" placeholder="Логин"><br>
  <input type="text" formControlName="password" placeholder="Пароль">
  <div class="error" *ngIf="form.get('password')?.touched &&  form.get('password')?.hasError('required')">
    Введите пароль
  </div>
  <div class="error" *ngIf="form.get('password')?.touched &&  form.get('password')?.hasError('minlength')">
    Пароль должен быть не короче {{ form.get('password')?.errors?.minlength.requiredLength }} символов
  </div>
  <div formGroupName="profile">
    <input type="text" formControlName="name" placeholder="Имя"><br>
    <input type="text" formControlName="age" placeholder="Возраст">
  </div>
  <button [disabled]="form.invalid" type="submit">Отправить</button>
</form>

<div class="submit" (click)="submit()">Отправить</div>


<!--<pre>{{ form.value | json }}</pre>-->
<!--<pre>{{ form.valid | json }}</pre>-->

 <pre>{{ form.get('password')?.errors | json }}</pre>
Обязательно: <pre>{{ form.get('password')?.hasError('required')  | json }}</pre>
Минимальная длина: <pre>{{ form.get('password')?.hasError('minlength')  | json }}</pre>
